.toolbar-btn {
	background-color: blue;
	color: white;
	font-weight: bold;
}
.toolbar-btn:disabled {
    background-color: silver;
    color: black;
}
.toolbar-btn:hover, .toolbar-btn:focus {
    background-color: orange;
    color: black;
}
/*
.ui-grid-cell {
	border-bottom-width: 1px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-color: grey;
    border-right-style: solid;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
	background: #eeffff;
}
.ui-grid-row-selected div.ui-grid-cell {
    background: #ffc891 !important;	
}
*/