.toolbar-btn {
	background-color: blue;
	color: white;
	font-weight: bold;
}
.toolbar-btn:disabled {
    background-color: silver;
    color: black;
}
.toolbar-btn:hover, .toolbar-btn:focus {
    background-color: orange;
    color: black;
}
div.ui-grid-cell input:focus {
	background-color: #ffc891 !important;
}

div.ui-grid-cell input{
	border-bottom-width: 1px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-color: grey;
    border-right-style: solid;
}